
/* shades */

.theme-light{
    --border:rgb(241, 229, 188);
    
    --background-primary: rgb(253, 247, 227);
    --background-primary-alt: var(--background-primary);
    
    --background-secondary: rgb(251, 242, 212);
    --background-secondary-alt: rgb(251, 242, 212);
    --background-modifier-form-field:rgb(255, 251, 241);
    
    --interactive-normal: rgb(247, 240, 218);
    --interactive-hover: rgb(231, 224, 201);
    
    --text-accent: rgb(53, 132, 228);
    --text-accent-hover: var(--text-accent);
    --interactive-accent: var(--text-accent);

    --code: rgb(62, 172, 89);
    --code-alt: rgb(219, 210, 77);

}
.theme-dark{
    --border:rgb(35,35,35);
    
    --background-primary: rgb(30, 30, 30);
    --background-primary-alt: var(--background-primary);
    
    --background-secondary: rgb(40,40,40);
    --background-secondary-alt: rgb(40,40,40);
    --background-modifier-form-field:rgb(20,20,20);
    
    --interactive-normal: rgb(60,60,60);
    --interactive-hover: rgb(50, 50, 50);
    
    --text-accent: rgb(91, 178, 224);
    --text-accent-hover: rgb(91, 178, 224);
    --interactive-accent: var(--text-accent);
    
    --text-normal: #d6d6d6;
    --code: rgb(195, 145, 120);
    --code-alt: rgb(192, 112, 72);
}

.theme-light,.theme-dark{
    --preview-font: 'Roboto','Ubuntu','-apple-system','Source Han Sans','思源黑体','Microsoft Yahei';
    --edit-font: 'Roboto', 'Ubuntu','-apple-system','Source Han Sans','思源黑体','Microsoft Yahei';
    --code-font: 'Roboto mono';
}

/* ------ Editor mode ------ */


.markdown-source-view {
    font-family: var(--edit-font);
}

/* make lines equal in height*/

.HyperMD-header.HyperMD-header-1.CodeMirror-line,
.HyperMD-header.HyperMD-header-2.CodeMirror-line,
.HyperMD-header.HyperMD-header-3.CodeMirror-line,
.HyperMD-header.HyperMD-header-4.CodeMirror-line,
.HyperMD-header.HyperMD-header-5.CodeMirror-line,
.HyperMD-header.HyperMD-header-6.CodeMirror-line,
.HyperMD-list-line.HyperMD-list-line-1.CodeMirror-line,
.HyperMD-list-line.HyperMD-list-line-2.CodeMirror-line,
.HyperMD-list-line.HyperMD-list-line-3.CodeMirror-line,
.HyperMD-list-line.HyperMD-list-line-4.CodeMirror-line,
.HyperMD-list-line.HyperMD-list-line-5.CodeMirror-line,
.HyperMD-list-line.HyperMD-list-line-6.CodeMirror-line,
.HyperMD-codeblock,
.HyperMD-footnote,
.HyperMD-list-line,
.CodeMirror-line,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6,
.cm-math{
    line-height: 1.5rem !important;
    font-size: 1.0rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/* make headers bold*/
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6{
    font-weight: bold !important;
}
/* make latex math codes upright*/
.cm-math{font-style: normal !important;}

/* remove the too-much indent for footnote */
.HyperMD-footnote{padding-left: 4px !important;}



/* ------ Preview mode ------ */

.markdown-preview-view{
    font-family: var(--preview-font);
}

/* headers */

h1{
    font-size: 1.75rem !important;
    font-weight: bold !important;
    text-align: left;
}
h2{
    font-size: 1.3rem !important;
    font-weight: bold !important;
}
h3{
    font-size: 1.15rem !important;
    font-weight: bold !important;
    font-style: italic !important;
    text-decoration: underline;
}
h4{
    font-size: 1.15rem !important;
    font-weight: normal !important;
    font-style: italic !important;
    text-decoration: underline !important; 
}
h5{
    font-size: 1.0rem !important;
    font-weight: normal !important;
    font-style: italic !important;
    text-decoration: underline !important; 
}
h6{
    font-size: 1.0rem !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-decoration: underline !important; 
}

/* lists */
p,ul,ol{
    margin: 15px 0px !important;
}
li{
    margin: 10px 0px !important;
}
li>ul,li>ol,li>p{
    margin: 0px !important;
}

img{
    margin:10px auto;
    text-align: center;
    display: table-cell;
    /* border: solid var(--border);
    border-width: 1px; */
}
a:link{
    text-decoration: none !important;
}
a.link:hover,a.internal-link:hover{
    text-decoration: underline !important;
}
blockquote{
    padding: 5px 15px !important;
    margin: 5px 5px !important;
    border-radius: 0px !important;
    border-left-width: 4px !important;

}
.CodeMirror .cm-math{
    color:var(--code);
    font-family: var(--code-font);
}
.cm-formatting-math-end,
.cm-formatting-math-begin{
    color: var(--code-alt) !important;
}

.cm-hashtag-begin,
.cm-hashtag-end{
    color: var(--text-accent) !important;    
}
a.tag:-webkit-any-link{
    text-decoration: underline !important; 
}


/*title bar*/
.titlebar{
    background-color:  var(--background-secondary);
    border: solid var(--border);
    border-width:1px; 
}
.titlebar-inner{
    color: var(--text-normal);
    font-weight: bold;
}
/* Flow of cards */
.workspace-split.mod-vertical{
    overflow-x:auto;
    overflow-y:hidden;
}
/* Set the minimum width of the cards*/
.workspace-split > .workspace-leaf,
.workspace-split > .workspace-split{
    min-width: 450px;
}

/*Cards*/

.workspace-leaf{background: var(--background-primary);}
.workspace-leaf.mod-active{ background: var(--background-primary);}


.view-header{
    border: transparent;
    border-width: 0 !important;
}

.view-header,
.view-header-title-container::after,
.view-content{
    background: transparent !important;
}

/* Popover */
.popover.hover-popover.is-loaded{
    
    border: solid var(--border) !important;
    border-width: 0px !important;
    border-radius: 0px !important;
}
.popover.hover-popover.is-loaded>.markdown-embed{
    margin: 0px !important;
}
.popover.hover-popover.mod-empty>.markdown-embed{
    margin: 0px 20px !important;
}

/* Embed content */
.markdown-embed{
    padding: 0px !important;
    margin: 0px 0px !important;
    border-radius: 0px !important;
    border: solid var(--border) !important;
    border-width: 1px !important;
    background: transparent !important;
}
.markdown-embed-content{
    padding: 0px 0px !important;
}
.markdown-embed-title{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    height: auto;
    font-size: 1.1rem;
}
.file-embed{
    padding: 3px !important;
    margin: 3px !important;
    border-radius: 4px !important;
}
.file-embed-title{
    font-size: 0.8rem;
    line-height: 24px;
    font-weight: normal;
}


/* Content */

.markdown-preview-view{
    padding: 0px 20px !important;
}
.markdown-source-view{
    padding: 0px 16px;
    margin: 0px 0px
}


/* splitter */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
    height:1px;
    background:var(--border);
}
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    background:var(--border) ;
    width:1px;
    height: 100%;
    top: 0 !important;
}
.workspace-tabs,
.workspace-leaf,
.workspace-split,
.workspace-leaf-content {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.CodeMirror-lines{
    padding-top: 16px;
}

/* Ribbon */
.workspace-ribbon-collapse-btn{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.workspace-ribbon.mod-left{
    border-right: solid var(--border);
    border-bottom: solid var(--border);
    border-left: solid var(--border);
    border-width: 1px ;
}
.workspace-ribbon.mod-right{
    border-left: solid var(--border);
    border-right: solid var(--border);
    border-bottom: solid var(--border);
    border-width: 1px;
}
.workspace-ribbon.mod-left.is-collapsed{
    border-right: solid var(--border);
    border-width: 1px;
}
.workspace-ribbon.mod-right.is-collapsed{
    border-left: solid var(--border);
    border-width: 1px;
}

.side-dock-settings{
    margin-bottom: 25px;
}

/* Tabs */

.workspace-tabs{
    background-color: var(--background-secondary);
}
.workspace-tabs>.workspace-leaf,
.workspace-tab-header-container,
.workspace-tab-header-inner,
.workspace-tab-header{
    background: transparent !important;
}
.workspace-tab-container-after,
.workspace-tab-container-before{
    width:0px;
}
.workspace-tab-header-container{
    border-bottom: solid var(--border)  !important;
    border-width: 1px !important;
    padding: 5px;
    height: 34px;
}
.nav-header{
    padding: 0px;
}
.nav-buttons-container{
    padding: 5px;
    height: 36px;
    margin: 0px !important;
    border-width: 0px !important;
}
.nav-action-button{
    padding: 3px 8px !important;
    margin: 0px 4px !important;
    border-radius: 2px ;
}

/* Search results in tabs */

.search-result-file-match{
    word-break: break-all;
}

/* document-search-input */
.document-search-input{
    border: solid var(--border) !important;
    border-width: 1px !important;
}
.document-search-input:focus{
    border: solid var(--interactive-accent) !important;
    border-width: 1px !important;
}

/* status bar */
.status-bar{
    display:none; 
}

/* Scroll bar*/
::-webkit-scrollbar{
    display:none; 
}

